flow.json
[
    {
        "id": "4f19ba8da7e1ae05",
        "type": "tab",
        "label": "dashboard_skripsi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab8444a8b4a92254",
        "type": "group",
        "z": "4f19ba8da7e1ae05",
        "name": "Main Menu",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "color": "#0070c0"
        },
        "nodes": [
            "a62ecc25d2385323",
            "bfe2a87c31c68c87",
            "dc7e8503195c4c73",
            "50bcf5ca4ba41ff5",
            "3d6dcc318c6948f3",
            "c96b0153f9f80ed1",
            "0f7c9c0c33438eae",
            "8be5ce51311f3fe5"
        ],
        "x": -16,
        "y": 99,
        "w": 562,
        "h": 262
    },
    {
        "id": "f2a86b524892c7da",
        "type": "group",
        "z": "4f19ba8da7e1ae05",
        "name": "Greenhouse A",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "0ff3ce8af5e9119e",
            "bdf0632383456548"
        ],
        "x": 8,
        "y": 373,
        "w": 2064,
        "h": 414
    },
    {
        "id": "0ff3ce8af5e9119e",
        "type": "group",
        "z": "4f19ba8da7e1ae05",
        "g": "f2a86b524892c7da",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "c477f84430bd83d4",
            "8d7c1bfbd5bf628e",
            "652b505cfb1e3005",
            "91d9ca208b66be87",
            "297cc26c509df7a0",
            "7e5b3341c3332e52",
            "aa00b4ef57ceced6",
            "7e21d24c89fbf20c",
            "589503a873910777",
            "250f19b1102dc6ef",
            "0eb2451c6dabef58",
            "d7b2cb05647422f0",
            "4f6030654acc2b15",
            "336553e72744b523",
            "7379555e576266d5",
            "c49d0f4cd68472df",
            "f418b04285445189",
            "686cae5a7179364f",
            "6aba122530cb30a4",
            "d7c4d43233687dd4",
            "8dc203b9961883fb",
            "a537dfebf221a538"
        ],
        "x": 574,
        "y": 399,
        "w": 1472,
        "h": 242
    },
    {
        "id": "bdf0632383456548",
        "type": "group",
        "z": "4f19ba8da7e1ae05",
        "g": "f2a86b524892c7da",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "792243bad594d3e7",
            "7099cfd2b38f3517",
            "5d3b4e8281a06233",
            "708e296674fe7997",
            "ebd2d6f19d858103",
            "34235b089b9e33ca",
            "1a80b463979c6a63",
            "e552acea45b067d2",
            "c3ed478351cb3174",
            "a293b72ae4754f62",
            "114289393f83bc87"
        ],
        "x": 34,
        "y": 419,
        "w": 592,
        "h": 342
    },
    {
        "id": "4e3c698d6efaab10",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8512ab359f8b1217",
        "type": "ui_tab",
        "name": "Greenhouse",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0e692a28ccf039c2",
        "type": "ui_spacer",
        "z": "4f19ba8da7e1ae05",
        "name": "spacer",
        "group": "8352ff6457d9fdd1",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "d0ba6869487fc78d",
        "type": "ui_spacer",
        "z": "4f19ba8da7e1ae05",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "3e0833af9bc85d75",
        "type": "ui_spacer",
        "z": "4f19ba8da7e1ae05",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "ec969c11d82dbdd9",
        "type": "ui_spacer",
        "z": "4f19ba8da7e1ae05",
        "name": "spacer",
        "group": "8293a78a191dd3d7",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "2e5d064772b3ed6b",
        "type": "ui_group",
        "name": "Main",
        "tab": "8512ab359f8b1217",
        "order": 4,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8352ff6457d9fdd1",
        "type": "ui_group",
        "name": "Greenhouse A",
        "tab": "8512ab359f8b1217",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8293a78a191dd3d7",
        "type": "ui_group",
        "name": "Display Param",
        "tab": "8512ab359f8b1217",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd116dcad9e28d42",
        "type": "ui_group",
        "name": "Edit Param",
        "tab": "8512ab359f8b1217",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbdc33f1654c71af",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "792243bad594d3e7",
        "type": "mqtt in",
        "z": "4f19ba8da7e1ae05",
        "g": "bdf0632383456548",
        "name": "",
        "topic": "skripsi/iot_greenhouse/params/water_temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 460,
        "wires": [
            [
                "7099cfd2b38f3517",
                "5d3b4e8281a06233"
            ]
        ]
    },
    {
        "id": "34235b089b9e33ca",
        "type": "mqtt in",
        "z": "4f19ba8da7e1ae05",
        "g": "bdf0632383456548",
        "name": "",
        "topic": "skripsi/iot_greenhouse/params/pH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "e552acea45b067d2",
                "114289393f83bc87"
            ]
        ]
    },
    {
        "id": "1a80b463979c6a63",
        "type": "mqtt in",
        "z": "4f19ba8da7e1ae05",
        "g": "bdf0632383456548",
        "name": "",
        "topic": "skripsi/iot_greenhouse/params/EC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e3c698d6efaab10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 620,
        "wires": [
            [
                "c3ed478351cb3174",
                "a293b72ae4754f62"
            ]
        ]
    },
    {
        "id": "8d7c1bfbd5bf628e",
        "type": "http request",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/PlantParam",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 440,
        "wires": [
            [
                "aa00b4ef57ceced6"
            ]
        ]
    },
    {
        "id": "aa00b4ef57ceced6",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 5",
        "func": "let arr = msg.payload\nlet arrJs = [];\n\n\nfor (let i = 0; i < arr.length; i++) {\n    let tempJs = {};\n    tempJs[arr[i].name] = arr[i];\n    arrJs[i] = tempJs;\n}\n\nmsg.payload = 1;\nmsg.options = arrJs;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "7e21d24c89fbf20c",
                "589503a873910777"
            ]
        ]
    },
    {
        "id": "7e21d24c89fbf20c",
        "type": "debug",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "250f19b1102dc6ef",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 6",
        "func": "context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break\n    default:\n        msg = null;\n        break\n}\n\nif (context.data.task1 != null && context.data.task2 == \"save\") {\n    var ratio = context.data.task1;\n    context.data = null;\n    return { payload: ratio }\n} else return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 500,
        "wires": [
            [
                "6aba122530cb30a4",
                "d7c4d43233687dd4",
                "8dc203b9961883fb",
                "a537dfebf221a538"
            ]
        ]
    },
    {
        "id": "d7b2cb05647422f0",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 7",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 1; i < key.length; i++) {\n    listVal[i-1] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "0eb2451c6dabef58",
                "336553e72744b523"
            ]
        ]
    },
    {
        "id": "4f6030654acc2b15",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 8",
        "func": "var arr = msg.payload;\n\nmsg.payload = arr;\nmsg.topic = \"task2\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 560,
        "wires": [
            [
                "250f19b1102dc6ef"
            ]
        ]
    },
    {
        "id": "336553e72744b523",
        "type": "debug",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 580,
        "wires": []
    },
    {
        "id": "7379555e576266d5",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 9",
        "func": "var arr = msg.payload;\n\nmsg.payload = arr;\nmsg.topic = \"task1\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 520,
        "wires": [
            [
                "250f19b1102dc6ef",
                "686cae5a7179364f"
            ]
        ]
    },
    {
        "id": "686cae5a7179364f",
        "type": "debug",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 440,
        "wires": []
    },
    {
        "id": "6aba122530cb30a4",
        "type": "debug",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 580,
        "wires": []
    },
    {
        "id": "d7c4d43233687dd4",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 10",
        "func": "let arr =  msg.payload;\nlet listVal = [{}];\nconst key = Object.keys(arr);\n\n\nfor (let i = 1; i < key.length; i++) {\n    listVal[i-1] = { \"title\": key[i], \"description\" : arr[key[i]]};\n}\n\nmsg.payload = listVal;\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 480,
        "wires": [
            [
                "f418b04285445189"
            ]
        ]
    },
    {
        "id": "8dc203b9961883fb",
        "type": "mqtt out",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "send params ",
        "topic": "skripsi/iot_greenhouse/params",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e3c698d6efaab10",
        "x": 1730,
        "y": 520,
        "wires": []
    },
    {
        "id": "a537dfebf221a538",
        "type": "function",
        "z": "4f19ba8da7e1ae05",
        "g": "0ff3ce8af5e9119e",
        "name": "function 21",
        "func": "const name = msg.payload.name;\nmsg.payload = \"param set to \" + name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 440,
        "wires": [
            [
                "c49d0f4cd68472df"
            ]
        ]
    },
    {
        "id": "589503a873910777",
        "type": "ui_dropdown",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "label": "Jenis Tanaman",
        "tooltip": "",
        "place": "Select option",
        "group": "dd116dcad9e28d42",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "7379555e576266d5",
                "d7b2cb05647422f0"
            ]
        ]
    },
    {
        "id": "a62ecc25d2385323",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "2e5d064772b3ed6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Greenhouse A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Main\"],\"show\":[\"Greenhouse_Greenhouse_A\",\"Greenhouse_Display_Param\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "50bcf5ca4ba41ff5"
            ]
        ]
    },
    {
        "id": "bfe2a87c31c68c87",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "2e5d064772b3ed6b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Greenhouse B",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "3d6dcc318c6948f3"
            ]
        ]
    },
    {
        "id": "dc7e8503195c4c73",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "2e5d064772b3ed6b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Greenhouse C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c96b0153f9f80ed1"
            ]
        ]
    },
    {
        "id": "708e296674fe7997",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 8,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Back to main menu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Greenhouse_A\",\"Greenhouse_Display_Param\",\"Greenhouse_Edit_Param\"],\"show\":[\"Greenhouse_Main\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "ebd2d6f19d858103"
            ]
        ]
    },
    {
        "id": "c477f84430bd83d4",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "8293a78a191dd3d7",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Edit Parameter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Display_Param\"],\"show\":[\"Greenhouse_Edit_Param\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 500,
        "wires": [
            [
                "8d7c1bfbd5bf628e",
                "297cc26c509df7a0"
            ]
        ]
    },
    {
        "id": "652b505cfb1e3005",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "dd116dcad9e28d42",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "dsa",
        "payload": "{\"group\":{\"hide\":[\"Greenhouse_Edit_Param\"],\"show\":[\"Greenhouse_Display_Param\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "7e5b3341c3332e52"
            ]
        ]
    },
    {
        "id": "91d9ca208b66be87",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "dd116dcad9e28d42",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Save Parameter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mi-videogame_asset",
        "payload": "save",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "4f6030654acc2b15"
            ]
        ]
    },
    {
        "id": "0f7c9c0c33438eae",
        "type": "ui_button",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "2e5d064772b3ed6b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Lora",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "8be5ce51311f3fe5"
            ]
        ]
    },
    {
        "id": "7099cfd2b38f3517",
        "type": "ui_text",
        "z": "4f19ba8da7e1ae05",
        "group": "8352ff6457d9fdd1",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Water Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "e552acea45b067d2",
        "type": "ui_text",
        "z": "4f19ba8da7e1ae05",
        "group": "8352ff6457d9fdd1",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "c3ed478351cb3174",
        "type": "ui_text",
        "z": "4f19ba8da7e1ae05",
        "group": "8352ff6457d9fdd1",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "EC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 620,
        "wires": []
    },
    {
        "id": "5d3b4e8281a06233",
        "type": "ui_chart",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Water Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a293b72ae4754f62",
        "type": "ui_chart",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "114289393f83bc87",
        "type": "ui_chart",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "group": "8352ff6457d9fdd1",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c49d0f4cd68472df",
        "type": "ui_toast",
        "z": "4f19ba8da7e1ae05",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1930,
        "y": 440,
        "wires": []
    },
    {
        "id": "50bcf5ca4ba41ff5",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3d6dcc318c6948f3",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c96b0153f9f80ed1",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd2d6f19d858103",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 380,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "297cc26c509df7a0",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 900,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7e5b3341c3332e52",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8be5ce51311f3fe5",
        "type": "ui_ui_control",
        "z": "4f19ba8da7e1ae05",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0eb2451c6dabef58",
        "type": "ui_list",
        "z": "4f19ba8da7e1ae05",
        "group": "dd116dcad9e28d42",
        "name": "",
        "order": 2,
        "width": 8,
        "height": 6,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1510,
        "y": 540,
        "wires": []
    },
    {
        "id": "f418b04285445189",
        "type": "ui_list",
        "z": "4f19ba8da7e1ae05",
        "group": "8293a78a191dd3d7",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1890,
        "y": 480,
        "wires": []
    }
]